In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/mnt/d/迅雷下载/鲍曼组装/merged.csv',low_memory=False)
df

,accession,publication_date,sample_name,strain,env_broad_scale,collection_date,env_local_scale,geo_loc_name,lat_lon,env_medium,...,Genoma coverage (%),label,AB0814,UID,Container_label,Sample_id,Project_id,sequencing_id,Submission_order,Sample_collection_local_time
0,SAMD00019507,2014-08-25T00:00:00.000,NBRC 109757,NBRC 109757,human,NaN,NaN,NaN,NaN,urine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SAMD00019514,2014-08-27T00:00:00.000,GTC 03322,GTC 03322,human,NaN,NaN,Japan:Gifu,NaN,human urine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SAMD00019515,2014-08-27T00:00:00.000,GTC 03323,GTC 03323,NaN,NaN,NaN,Japan:Gifu,NaN,broncheal aspirate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SAMD00019516,2014-08-27T00:00:00.000,GTC 03324,GTC 03324,human,NaN,NaN,Japan,NaN,burned skin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SAMD00019517,2014-08-27T00:00:00.000,GTC 03325,GTC 03325,human,NaN,NaN,Japan,NaN,burned skin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11102,SAMN50442005,2025-08-04T00:00:00.000,NaN,129882,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11103,SAMN50442008,2025-08-04T00:00:00.000,NaN,129885,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11104,SAMN50442011,2025-08-04T00:00:00.000,NaN,129846,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11105,SAMN50442012,2025-08-04T00:00:00.000,NaN,129847,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11106,SAMN50442016,2025-08-04T00:00:00.000,NaN,130121,NaN,2024-01-26,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 由于 df["publication_date"] 符合标准ISO格式，可以直接使用方法
df["publication_date"] = pd.to_datetime(df["publication_date"])

In [8]:
# 分拆为 年/月/日/时/分/秒
df["year"] = df["publication_date"].dt.year
df["month"] = df["publication_date"].dt.month
df["day"] = df["publication_date"].dt.day
df["hour"] = df["publication_date"].dt.hour
df["minute"] = df["publication_date"].dt.minute
df["second"] = df["publication_date"].dt.second

In [9]:
df

,accession,publication_date,sample_name,strain,env_broad_scale,collection_date,env_local_scale,geo_loc_name,lat_lon,env_medium,...,Project_id,sequencing_id,Submission_order,Sample_collection_local_time,year,month,day,hour,minute,second
0,SAMD00019507,2014-08-25,NBRC 109757,NBRC 109757,human,NaN,NaN,NaN,NaN,urine,...,NaN,NaN,NaN,NaN,2014,8,25,0,0,0
1,SAMD00019514,2014-08-27,GTC 03322,GTC 03322,human,NaN,NaN,Japan:Gifu,NaN,human urine,...,NaN,NaN,NaN,NaN,2014,8,27,0,0,0
2,SAMD00019515,2014-08-27,GTC 03323,GTC 03323,NaN,NaN,NaN,Japan:Gifu,NaN,broncheal aspirate,...,NaN,NaN,NaN,NaN,2014,8,27,0,0,0
3,SAMD00019516,2014-08-27,GTC 03324,GTC 03324,human,NaN,NaN,Japan,NaN,burned skin,...,NaN,NaN,NaN,NaN,2014,8,27,0,0,0
4,SAMD00019517,2014-08-27,GTC 03325,GTC 03325,human,NaN,NaN,Japan,NaN,burned skin,...,NaN,NaN,NaN,NaN,2014,8,27,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11102,SAMN50442005,2025-08-04,NaN,129882,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,2025,8,4,0,0,0
11103,SAMN50442008,2025-08-04,NaN,129885,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,2025,8,4,0,0,0
11104,SAMN50442011,2025-08-04,NaN,129846,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,2025,8,4,0,0,0
11105,SAMN50442012,2025-08-04,NaN,129847,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,2025,8,4,0,0,0
11106,SAMN50442016,2025-08-04,NaN,130121,NaN,2024-01-26,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,NaN,NaN,2025,8,4,0,0,0

In [10]:
# 先对 geo_loc_name 做 split
split_cols = df["geo_loc_name"].str.split(":", n=1, expand=True)
# 生成新列
df["Country"] = split_cols[0].str.strip()
df["Location"] = split_cols[1].str.strip()

In [11]:
df

,accession,publication_date,sample_name,strain,env_broad_scale,collection_date,env_local_scale,geo_loc_name,lat_lon,env_medium,...,Submission_order,Sample_collection_local_time,year,month,day,hour,minute,second,Country,Location
0,SAMD00019507,2014-08-25,NBRC 109757,NBRC 109757,human,NaN,NaN,NaN,NaN,urine,...,NaN,NaN,2014,8,25,0,0,0,NaN,NaN
1,SAMD00019514,2014-08-27,GTC 03322,GTC 03322,human,NaN,NaN,Japan:Gifu,NaN,human urine,...,NaN,NaN,2014,8,27,0,0,0,Japan,Gifu
2,SAMD00019515,2014-08-27,GTC 03323,GTC 03323,NaN,NaN,NaN,Japan:Gifu,NaN,broncheal aspirate,...,NaN,NaN,2014,8,27,0,0,0,Japan,Gifu
3,SAMD00019516,2014-08-27,GTC 03324,GTC 03324,human,NaN,NaN,Japan,NaN,burned skin,...,NaN,NaN,2014,8,27,0,0,0,Japan,None
4,SAMD00019517,2014-08-27,GTC 03325,GTC 03325,human,NaN,NaN,Japan,NaN,burned skin,...,NaN,NaN,2014,8,27,0,0,0,Japan,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11102,SAMN50442005,2025-08-04,NaN,129882,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,2025,8,4,0,0,0,Germany,Landstuhl
11103,SAMN50442008,2025-08-04,NaN,129885,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,2025,8,4,0,0,0,Germany,Landstuhl
11104,SAMN50442011,2025-08-04,NaN,129846,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,2025,8,4,0,0,0,Germany,Landstuhl
11105,SAMN50442012,2025-08-04,NaN,129847,NaN,2024-01-22,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,2025,8,4,0,0,0,Germany,Landstuhl
11106,SAMN50442016,2025-08-04,NaN,130121,NaN,2024-01-26,NaN,Germany: Landstuhl,49.43 N 7.55 E,NaN,...,NaN,NaN,2025,8,4,0,0,0,Germany,Landstuhl

In [12]:
def parse_lat_lon(value):
    if pd.isna(value) or value == "NA":
        return (None, None)
    try:
        parts = value.split()
        lat, lat_dir, lon, lon_dir = parts
        lat, lon = float(lat), float(lon)

        # 根据方向修正正负号
        if lat_dir.upper() == "S":
            lat = -lat
        if lon_dir.upper() == "W":
            lon = -lon
        return (lat, lon)
    except Exception:
        return (None, None)

In [13]:
# 应用函数
df[["Latitude", "Longitude"]] = df["lat_lon"].apply(lambda x: pd.Series(parse_lat_lon(x)))

In [15]:
df.to_csv('/mnt/d/迅雷下载/鲍曼组装/merged_clean.csv',index=False)